# Assignment 3 - Association Rule Mining

## Instructions

For the Third Assignment, we are going to be performing association rule mining with Apriori and FP-Growth algorithm.

1. There are set of questions associated with each task for apriori and fp-growth respectively.
2. The dataset used for whole assignment is same.
3. Each Task is presenting a challenge.

Simply run the blow cell to load the dataset.

The dataset consists of 21293 observations from a bakery. The data file contains four variables, Date, Time, Transaction ID and Item. Transaction ID ranges from 1 through 9684. However, there are some skipped numbers in Transaction IDs.

In [1]:
from mlxtend.preprocessing import TransactionEncoder

In [2]:
import pandas as pd

data = pd.read_csv("Data_batch3.csv")
data

             Date      Time  Transaction           Item
0      2016-10-30  09:58:11            1          Bread
1      2016-10-30  10:05:34            2   Scandinavian
2      2016-10-30  10:05:34            2   Scandinavian
3      2016-10-30  10:07:57            3  Hot chocolate
4      2016-10-30  10:07:57            3            Jam
...           ...       ...          ...            ...
21288  2017-04-09  14:32:58         9682         Coffee
21289  2017-04-09  14:32:58         9682            Tea
21290  2017-04-09  14:57:06         9683         Coffee
21291  2017-04-09  14:57:06         9683         Pastry
21292  2017-04-09  15:04:24         9684      Smoothies

[21293 rows x 4 columns]

### Task A: 5 points

1. Print data details
2. Check for null values and solve them using appropriate method.
3. Drop items that are labeled as 'NONE' and 'Adjustment' as it doesnt make any sense.
4. Drop any duplicates.

1. Print data details

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21293 entries, 0 to 21292
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         21293 non-null  object
 1   Time         21293 non-null  object
 2   Transaction  21293 non-null  int64
 3   Item         21293 non-null  object
dtypes: int64(1), object(3)
memory usage: 665.5+ KB

In [4]:
data.describe()

        Transaction
count  21293.000000
mean    4951.990889
std     2787.758400
min        1.000000
25%     2548.000000
50%     5067.000000
75%     7329.000000
max     9684.000000

2. Check for null values and solve them using appropriate method.

In [5]:
data.isnull().sum()

Date           0
Time           0
Transaction    0
Item           0
dtype: int64

In [6]:
## Since there is no NULL values so no need to fix them.

3. Drop items that are labeled as 'NONE' and 'Adjustment' as it doesnt make any sense.

In [7]:
data.columns

Index(['Date', 'Time', 'Transaction', 'Item'], dtype='object')

In [8]:
"NONE" in set(data['Item'].value_counts().index)

True

In [9]:
"NONE" in set(data['Transaction'].value_counts().index)

False

So there is NONE values in "Item" column

In [10]:
data['Item'].value_counts().to_dict()

{'Coffee': 5471,
 'Bread': 3325,
 'Tea': 1435,
 'Cake': 1025,
 'Pastry': 856,
 'NONE': 786,
 'Sandwich': 771,
 'Medialuna': 616,
 'Hot chocolate': 590,
 'Cookies': 540,
 'Brownie': 379,
 'Farm House': 374,
 'Muffin': 370,
 'Juice': 369,
 'Alfajores': 369,
 'Soup': 342,
 'Scone': 327,
 'Toast': 318,
 'Scandinavian': 277,
 'Truffles': 193,
 'Coke': 185,
 'Spanish Brunch': 172,
 'Fudge': 159,
 'Baguette': 152,
 'Jam': 149,
 'Tiffin': 146,
 'Mineral water': 136,
 'Jammie Dodgers': 125,
 'Chicken Stew': 123,
 'Hearty & Seasonal': 107,
 'Salad': 99,
 'Frittata': 81,
 'Smoothies': 77,
 'Keeping It Local': 63,
 'The Nomad': 58,
 'Focaccia': 54,
 'Vegan mincepie': 54,
 'Bakewell': 48,
 'Tartine': 47,
 'Afternoon with the baker': 44,
 'Extra Salami or Feta': 38,
 'Art Tray': 38,
 'Eggs': 28,
 'Granola': 28,
 'Tshirt': 21,
 'My-5 Fruit Shoot': 18,
 "Ella's Kitchen Pouches": 17,
 'Vegan Feast': 16,
 'Crisps': 14,
 'Dulce de Leche': 13,
 "Valentine's card": 13,
 'Kids biscuit': 12,
 'Duck egg': 12,
 'Pick and Mix Bowls': 12,
 'Christmas common': 11,
 'Tacos/Fajita': 11,
 'Mighty Protein': 11,
 'Chocolates': 10,
 'Postcard': 10,
 'Gingerbread syrup': 9,
 'Muesli': 8,
 'Nomad bag': 8,
 'Drinking chocolate spoons ': 8,
 'Coffee granules ': 7,
 'Victorian Sponge': 7,
 'Empanadas': 7,
 'Argentina Night': 7,
 'Crepes': 6,
 'Honey': 6,
 'Pintxos': 6,
 'Lemon and coconut': 6,
 'Basket': 6,
 'Half slice Monster ': 6,
 'Bare Popcorn': 5,
 'Panatone': 5,
 'Mortimer': 5,
 'Bread Pudding': 4,
 'Cherry me Dried fruit': 3,
 'Brioche and salami': 3,
 'Caramel bites': 3,
 'Raspberry shortbread sandwich': 3,
 'Fairy Doors': 2,
 'Hack the stack': 2,
 'Bowl Nic Pitt': 2,
 'Chimichurri Oil': 2,
 'Spread': 2,
 'Siblings': 2,
 'Gift voucher': 1,
 'Raw bars': 1,
 'Polenta': 1,
 'Chicken sand': 1,
 'The BART': 1,
 'Adjustment': 1,
 'Olum & polenta': 1,
 'Bacon': 1}

In [11]:
data=data[data['Item']!="NONE"]

In [12]:
data

             Date      Time  Transaction           Item
0      2016-10-30  09:58:11            1          Bread
1      2016-10-30  10:05:34            2   Scandinavian
2      2016-10-30  10:05:34            2   Scandinavian
3      2016-10-30  10:07:57            3  Hot chocolate
4      2016-10-30  10:07:57            3            Jam
...           ...       ...          ...            ...
21288  2017-04-09  14:32:58         9682         Coffee
21289  2017-04-09  14:32:58         9682            Tea
21290  2017-04-09  14:57:06         9683         Coffee
21291  2017-04-09  14:57:06         9683         Pastry
21292  2017-04-09  15:04:24         9684      Smoothies

[20507 rows x 4 columns]

4. Drop any duplicates.

In [13]:
len(set(data['Date']))

159

In [14]:
len(set(data['Item']))

94

In [15]:
list(data.iloc[0,:])

['2016-10-30', '09:58:11', 1, 'Bread']

In [16]:
data=data.drop_duplicates()

In [17]:
data

             Date      Time  Transaction           Item
0      2016-10-30  09:58:11            1          Bread
1      2016-10-30  10:05:34            2   Scandinavian
3      2016-10-30  10:07:57            3  Hot chocolate
4      2016-10-30  10:07:57            3            Jam
5      2016-10-30  10:07:57            3        Cookies
...           ...       ...          ...            ...
21288  2017-04-09  14:32:58         9682         Coffee
21289  2017-04-09  14:32:58         9682            Tea
21290  2017-04-09  14:57:06         9683         Coffee
21291  2017-04-09  14:57:06         9683         Pastry
21292  2017-04-09  15:04:24         9684      Smoothies

[18887 rows x 4 columns]

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18887 entries, 0 to 21292
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         18887 non-null  object
 1   Time         18887 non-null  object
 2   Transaction  18887 non-null  int64
 3   Item         18887 non-null  object
dtypes: int64(1), object(3)
memory usage: 737.8+ KB

### Task B: 7 points

Create a list of lists with grouping on the transaction and store it in a dataframe.

In [19]:
# grouped_items = df.groupby('Transaction')['Item'].apply(list).reset_index()

In [20]:
tgs = data.groupby('Transaction')['Item'].apply(list).reset_index()

In [21]:
tgs

      Transaction                                               Item
0               1                                            [Bread]
1               2                                     [Scandinavian]
2               3                      [Hot chocolate, Jam, Cookies]
3               4                                           [Muffin]
4               5                            [Coffee, Pastry, Bread]
...           ...                                                ...
9460         9680                                            [Bread]
9461         9681  [Truffles, Tea, Spanish Brunch, Christmas common]
9462         9682                [Muffin, Tacos/Fajita, Coffee, Tea]
9463         9683                                   [Coffee, Pastry]
9464         9684                                        [Smoothies]

[9465 rows x 2 columns]

### Task C: 7 points

Transform the data having unique item as column name and indication of the item in the each transaction as 0/1.

In [22]:
# Create dummy variables for each item in transactions
items_set = set(data['Item'])
dummy_cols = {item: [] for item in items_set}
for index, row in tgs.iterrows():
    transaction_items = set(row['Item'])
    for item in items_set:
        if item in transaction_items:
            dummy_cols[item].append(1)
        else:
            dummy_cols[item].append(0)

# Create DataFrame from dummy variables
dummy_df = pd.DataFrame(dummy_cols)

# Concatenate with the original DataFrame
result = pd.concat([tgs['Transaction'], dummy_df], axis=1)

In [23]:
result

,Transaction,Caramel bites,Argentina Night,Fudge,Olum & polenta,Hot chocolate,Farm House,Focaccia,Bare Popcorn,Adjustment,...,Fairy Doors,Bread Pudding,Keeping It Local,Bowl Nic Pitt,My-5 Fruit Shoot,Raw bars,Crepes,Ella's Kitchen Pouches,Extra Salami or Feta,Pintxos
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9460,9680,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9461,9681,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9462,9682,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9463,9683,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9464,9684,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Task D: 7 points

Apply apriori algorithm with 0.01 support

In [24]:
data

             Date      Time  Transaction           Item
0      2016-10-30  09:58:11            1          Bread
1      2016-10-30  10:05:34            2   Scandinavian
3      2016-10-30  10:07:57            3  Hot chocolate
4      2016-10-30  10:07:57            3            Jam
5      2016-10-30  10:07:57            3        Cookies
...           ...       ...          ...            ...
21288  2017-04-09  14:32:58         9682         Coffee
21289  2017-04-09  14:32:58         9682            Tea
21290  2017-04-09  14:57:06         9683         Coffee
21291  2017-04-09  14:57:06         9683         Pastry
21292  2017-04-09  15:04:24         9684      Smoothies

[18887 rows x 4 columns]

In [25]:
data.drop(['Date','Time'],inplace=True,axis=1)

C:\Users\DELL\AppData\Local\Temp\ipykernel_9172\498934082.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(['Date','Time'],inplace=True,axis=1)

In [26]:
data

       Transaction           Item
0                1          Bread
1                2   Scandinavian
3                3  Hot chocolate
4                3            Jam
5                3        Cookies
...            ...            ...
21288         9682         Coffee
21289         9682            Tea
21290         9683         Coffee
21291         9683         Pastry
21292         9684      Smoothies

[18887 rows x 2 columns]

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18887 entries, 0 to 21292
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Transaction  18887 non-null  int64
 1   Item         18887 non-null  object
dtypes: int64(1), object(1)
memory usage: 442.7+ KB

In [28]:
from mlxtend.frequent_patterns import apriori, association_rules

data['Item'] = data['Item'].astype(str)

# Apply Apriori algorithm with a support threshold of 0.01
frequent_itemsets = apriori(data.groupby(['Transaction', 'Item']).size().unstack().fillna(0), 
                             min_support=0.01, use_colnames=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_9172\1647142014.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Item'] = data['Item'].astype(str)
C:\Users\DELL\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [29]:
frequent_itemsets

     support                 itemsets
0   0.036344              (Alfajores)
1   0.016059               (Baguette)
2   0.327205                  (Bread)
3   0.040042                (Brownie)
4   0.103856                   (Cake)
..       ...                      ...
56  0.023666          (Toast, Coffee)
57  0.014369          (Tea, Sandwich)
58  0.010037    (Bread, Cake, Coffee)
59  0.011199  (Coffee, Bread, Pastry)
60  0.010037      (Coffee, Cake, Tea)

[61 rows x 2 columns]

In [30]:
rules = association_rules(frequent_itemsets, metric='support', min_threshold=0.01)

In [31]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Bread),(Alfajores),0.327205,0.036344,0.010354,0.031644,0.870657,-0.001538,0.995145,-0.180870
1,(Alfajores),(Bread),0.036344,0.327205,0.010354,0.284884,0.870657,-0.001538,0.940818,-0.133570
2,(Coffee),(Alfajores),0.478394,0.036344,0.019651,0.041078,1.130235,0.002264,1.004936,0.220910
3,(Alfajores),(Coffee),0.036344,0.478394,0.019651,0.540698,1.130235,0.002264,1.135648,0.119574
4,(Bread),(Brownie),0.327205,0.040042,0.010777,0.032935,0.822508,-0.002326,0.992651,-0.242849
...,...,...,...,...,...,...,...,...,...,...
69,"(Coffee, Tea)",(Cake),0.049868,0.103856,0.010037,0.201271,1.937977,0.004858,1.121962,0.509401
70,"(Cake, Tea)",(Coffee),0.023772,0.478394,0.010037,0.422222,0.882582,-0.001335,0.902779,-0.119934
71,(Coffee),"(Cake, Tea)",0.478394,0.023772,0.010037,0.020981,0.882582,-0.001335,0.997149,-0.203223
72,(Cake),"(Coffee, Tea)",0.103856,0.049868,0.010037,0.096643,1.937977,0.004858,1.051779,0.540090
73,(Tea),"(Coffee, Cake)",0.142631,0.054728,0.010037,0.070370,1.285822,0.002231,1.016827,0.259266

### Task E: 5 points

Print top 5 association rules for support metric and 0.01 threshold in accordance with support value.

In [32]:
# Print the top 5 association rules based on support metric
top_5_rules = rules.sort_values(by='support', ascending=False).head(5)
print("Top 5 Association Rules based on Support:")
print(top_5_rules)

Top 5 Association Rules based on Support:
   antecedents consequents  antecedent support  consequent support   support  \
8      (Bread)    (Coffee)            0.327205            0.478394  0.090016
9     (Coffee)     (Bread)            0.478394            0.327205  0.090016
25      (Cake)    (Coffee)            0.103856            0.478394  0.054728
24    (Coffee)      (Cake)            0.478394            0.103856  0.054728
51       (Tea)    (Coffee)            0.142631            0.478394  0.049868

    confidence      lift  leverage  conviction  zhangs_metric
8     0.275105  0.575059 -0.066517    0.719561      -0.523431
9     0.188163  0.575059 -0.066517    0.828731      -0.586210
25    0.526958  1.101515  0.005044    1.102664       0.102840
24    0.114399  1.101515  0.005044    1.011905       0.176684
51    0.349630  0.730840 -0.018366    0.802014      -0.300482

In [33]:
top_5_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
8,(Bread),(Coffee),0.327205,0.478394,0.090016,0.275105,0.575059,-0.066517,0.719561,-0.523431
9,(Coffee),(Bread),0.478394,0.327205,0.090016,0.188163,0.575059,-0.066517,0.828731,-0.586210
25,(Cake),(Coffee),0.103856,0.478394,0.054728,0.526958,1.101515,0.005044,1.102664,0.102840
24,(Coffee),(Cake),0.478394,0.103856,0.054728,0.114399,1.101515,0.005044,1.011905,0.176684
51,(Tea),(Coffee),0.142631,0.478394,0.049868,0.349630,0.730840,-0.018366,0.802014,-0.300482

### Task F: 3 points

Store the association rules from top to bottom with respect to lift parameter and store it in a variable.

In [34]:
sorted_rules_by_lift = rules.sort_values(by='lift', ascending=False)

sorted_rules_by_lift

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
72,(Cake),"(Coffee, Tea)",0.103856,0.049868,0.010037,0.096643,1.937977,0.004858,1.051779,0.540090
69,"(Coffee, Tea)",(Cake),0.049868,0.103856,0.010037,0.201271,1.937977,0.004858,1.121962,0.509401
27,(Cake),(Hot chocolate),0.103856,0.058320,0.011410,0.109868,1.883874,0.005354,1.057910,0.523553
26,(Hot chocolate),(Cake),0.058320,0.103856,0.011410,0.195652,1.883874,0.005354,1.114125,0.498236
29,(Tea),(Cake),0.142631,0.103856,0.023772,0.166667,1.604781,0.008959,1.075372,0.439556
...,...,...,...,...,...,...,...,...,...,...
20,(Bread),(Tea),0.327205,0.142631,0.028104,0.085890,0.602181,-0.018566,0.937927,-0.495438
8,(Bread),(Coffee),0.327205,0.478394,0.090016,0.275105,0.575059,-0.066517,0.719561,-0.523431
9,(Coffee),(Bread),0.478394,0.327205,0.090016,0.188163,0.575059,-0.066517,0.828731,-0.586210
59,(Bread),"(Coffee, Cake)",0.327205,0.054728,0.010037,0.030675,0.560497,-0.007870,0.975186,-0.538209
58,"(Coffee, Cake)",(Bread),0.054728,0.327205,0.010037,0.183398,0.560497,-0.007870,0.823895,-0.453411

### Task G: 10 points

Understand this,
- antecedent support: If X is called antecendent, 'antecedent support' computes the proportion of transactions that contain the antecedent X.
- consequent support: If Y is called consequent, 'consequent support' computes the proportion of transactions that contain the antecedent Y.
- support: 'support' computes the proportion of transactions that contain the antecedent X and Y.
- confidence: Probability of buying Y when X is bought.
- lift: Represents how many times the probability of getting Y increases when X is received.

Define a function which takes the (sorted values from the association rules,item) and returns top recommendation list for that item.

Tip: the recommendated item are Consequents by matching the product antecedents as item to search for.

In [35]:


def get_top_recommendations(sorted_rules, item, top_n=5):
    # Filter association rules where the item is in antecedents
    filtered_rules = sorted_rules[sorted_rules['antecedents'].apply(lambda x: item in x)]

    # Sort the filtered rules by lift in descending order
    sorted_filtered_rules = filtered_rules.sort_values(by='lift', ascending=False)

    recommended_items = set()  # Set to store recommended items and avoid duplicates
    top_recommendations = []  # List to store top recommendations

    for consequents in sorted_filtered_rules['consequents']:
        for item_set in consequents:
            if item_set not in recommended_items:
                recommended_items.add(item_set)
                top_recommendations.append(item_set)
                if len(top_recommendations) == top_n:
                    return top_recommendations  # Return when top_n recommendations are found

    return top_recommendations

# Assuming you have already sorted_rules_by_lift from the previous code
item_to_search = 'Cake'
top_recommendations = get_top_recommendations(sorted_rules_by_lift, item_to_search)

print(f"Top 5 unique recommendations for '{item_to_search}':")
print(top_recommendations)

Top 5 unique recommendations for 'Cake':
['Coffee', 'Tea', 'Hot chocolate', 'Bread']

### Task H: 5 points

Print top 5 reccomendated items for Bread.

In [36]:
# Assuming you have already sorted_rules_by_lift from the previous code
item_to_search = 'Bread'
top_recommendations = get_top_recommendations(sorted_rules_by_lift, item_to_search, top_n=5)

print(f"Top 5 recommendations for '{item_to_search}':")
set(top_recommendations)

Top 5 recommendations for 'Bread':

{'Alfajores', 'Cake', 'Coffee', 'Medialuna', 'Pastry'}

### Task I: 5 points

Print top 5 reccomendated items for Bread with 0.025 support.

In [37]:
# Filter association rules with support >= 0.025
filtered_rules = rules[rules['support'] >= 0.025]

# Assuming you have already filtered_rules from the previous code
item_to_search = 'Bread'
top_recommendations = get_top_recommendations(filtered_rules, item_to_search, top_n=5)

print(f"Top 5 recommendations for '{item_to_search}' with support >= 0.025:")
top_recommendations

Top 5 recommendations for 'Bread' with support >= 0.025:

['Pastry', 'Tea', 'Coffee']

### Task J: 10 points

Perform task D through I except task G using FP-Growth algorithm.

In [38]:
from mlxtend.frequent_patterns import fpgrowth, association_rules

In [39]:
data

       Transaction           Item
0                1          Bread
1                2   Scandinavian
3                3  Hot chocolate
4                3            Jam
5                3        Cookies
...            ...            ...
21288         9682         Coffee
21289         9682            Tea
21290         9683         Coffee
21291         9683         Pastry
21292         9684      Smoothies

[18887 rows x 2 columns]

In [40]:
# Apply FP-Growth algorithm with a support threshold of 0.01
frequent_itemsets_fp = fpgrowth(data.groupby(['Transaction', 'Item']).size().unstack().fillna(0), 
                                min_support=0.01, use_colnames=True)

C:\Users\DELL\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [41]:
frequent_itemsets_fp

     support                  itemsets
0   0.327205                   (Bread)
1   0.029054            (Scandinavian)
2   0.058320           (Hot chocolate)
3   0.054411                 (Cookies)
4   0.015003                     (Jam)
..       ...                       ...
56  0.019651         (Coffee, Brownie)
57  0.010777          (Bread, Brownie)
58  0.023666           (Coffee, Toast)
59  0.018067           (Coffee, Scone)
60  0.010882  (Spanish Brunch, Coffee)

[61 rows x 2 columns]

In [42]:
# Generate association rules from frequent itemsets
rules_fp = association_rules(frequent_itemsets_fp, metric='support', min_threshold=0.01)
rules_fp

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Bread),(Coffee),0.327205,0.478394,0.090016,0.275105,0.575059,-0.066517,0.719561,-0.523431
1,(Coffee),(Bread),0.478394,0.327205,0.090016,0.188163,0.575059,-0.066517,0.828731,-0.586210
2,(Hot chocolate),(Coffee),0.058320,0.478394,0.029583,0.507246,1.060311,0.001683,1.058553,0.060403
3,(Coffee),(Hot chocolate),0.478394,0.058320,0.029583,0.061837,1.060311,0.001683,1.003749,0.109048
4,(Hot chocolate),(Bread),0.058320,0.327205,0.013418,0.230072,0.703144,-0.005665,0.873841,-0.309550
...,...,...,...,...,...,...,...,...,...,...
69,(Toast),(Coffee),0.033597,0.478394,0.023666,0.704403,1.472431,0.007593,1.764582,0.332006
70,(Coffee),(Scone),0.478394,0.034548,0.018067,0.037765,1.093107,0.001539,1.003343,0.163296
71,(Scone),(Coffee),0.034548,0.478394,0.018067,0.522936,1.093107,0.001539,1.093366,0.088224
72,(Spanish Brunch),(Coffee),0.018172,0.478394,0.010882,0.598837,1.251766,0.002189,1.300235,0.204851
73,(Coffee),(Spanish Brunch),0.478394,0.018172,0.010882,0.022747,1.251766,0.002189,1.004682,0.385594

In [43]:
# Print the top 5 association rules based on support metric
top_5_rules_fp = rules_fp.sort_values(by='support', ascending=False).head(5)
print("Top 5 Association Rules based on Support (FP-Growth):")
top_5_rules_fp

Top 5 Association Rules based on Support (FP-Growth):

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Bread),(Coffee),0.327205,0.478394,0.090016,0.275105,0.575059,-0.066517,0.719561,-0.523431
1,(Coffee),(Bread),0.478394,0.327205,0.090016,0.188163,0.575059,-0.066517,0.828731,-0.586210
36,(Coffee),(Cake),0.478394,0.103856,0.054728,0.114399,1.101515,0.005044,1.011905,0.176684
37,(Cake),(Coffee),0.103856,0.478394,0.054728,0.526958,1.101515,0.005044,1.102664,0.102840
28,(Coffee),(Tea),0.478394,0.142631,0.049868,0.104240,0.730840,-0.018366,0.957142,-0.413856

In [44]:
# Store the association rules sorted by lift parameter from top to bottom in a variable
sorted_rules_by_lift_fp = rules_fp.sort_values(by='lift', ascending=False)
sorted_rules_by_lift_fp

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
46,(Cake),"(Coffee, Tea)",0.103856,0.049868,0.010037,0.096643,1.937977,0.004858,1.051779,0.540090
43,"(Coffee, Tea)",(Cake),0.049868,0.103856,0.010037,0.201271,1.937977,0.004858,1.121962,0.509401
6,(Hot chocolate),(Cake),0.058320,0.103856,0.011410,0.195652,1.883874,0.005354,1.114125,0.498236
7,(Cake),(Hot chocolate),0.103856,0.058320,0.011410,0.109868,1.883874,0.005354,1.057910,0.523553
39,(Tea),(Cake),0.142631,0.103856,0.023772,0.166667,1.604781,0.008959,1.075372,0.439556
...,...,...,...,...,...,...,...,...,...,...
30,(Bread),(Tea),0.327205,0.142631,0.028104,0.085890,0.602181,-0.018566,0.937927,-0.495438
0,(Bread),(Coffee),0.327205,0.478394,0.090016,0.275105,0.575059,-0.066517,0.719561,-0.523431
1,(Coffee),(Bread),0.478394,0.327205,0.090016,0.188163,0.575059,-0.066517,0.828731,-0.586210
51,(Bread),"(Coffee, Cake)",0.327205,0.054728,0.010037,0.030675,0.560497,-0.007870,0.975186,-0.538209
50,"(Coffee, Cake)",(Bread),0.054728,0.327205,0.010037,0.183398,0.560497,-0.007870,0.823895,-0.453411

In [45]:


def get_top_recommendations_fp(sorted_rules, item, top_n=5):
  recommendation_counts = {}  # Dictionary to store recommendation frequencies
  top_recommendations = []  # List to store top recommendations

  for _, row in sorted_rules.iterrows():
    antecedents = row['antecedents']
    consequents = row['consequents']

    if item in antecedents:
      for consequent in consequents:
        if consequent != item:
          recommendation_counts[consequent] = recommendation_counts.get(consequent, 0) + 1
          # Consider adding a minimum confidence check here if applicable

  # Sort recommendations by count (descending order) and return top_n
  sorted_recommendations = sorted(recommendation_counts.items(), key=lambda x: x[1], reverse=True)
  top_recommendations = [item[0] for item in sorted_recommendations[:top_n]]

  return top_recommendations


# Print top 5 unique recommended items for "Bread"
item_to_search_fp = 'Bread'
top_recommendations_fp = get_top_recommendations_fp(sorted_rules_by_lift_fp, item_to_search_fp)
print(f"Top 5 unique recommendations for '{item_to_search_fp}':")
print(top_recommendations_fp)

Top 5 unique recommendations for 'Bread':
['Coffee', 'Pastry', 'Cake', 'Alfajores', 'Medialuna']

In [46]:
# Filter association rules with support >= 0.025
filtered_rules_fp = rules_fp[rules_fp['support'] >= 0.025]

In [47]:
filtered_rules_fp

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Bread),(Coffee),0.327205,0.478394,0.090016,0.275105,0.575059,-0.066517,0.719561,-0.523431
1,(Coffee),(Bread),0.478394,0.327205,0.090016,0.188163,0.575059,-0.066517,0.828731,-0.586210
2,(Hot chocolate),(Coffee),0.058320,0.478394,0.029583,0.507246,1.060311,0.001683,1.058553,0.060403
3,(Coffee),(Hot chocolate),0.478394,0.058320,0.029583,0.061837,1.060311,0.001683,1.003749,0.109048
8,(Cookies),(Coffee),0.054411,0.478394,0.028209,0.518447,1.083723,0.002179,1.083174,0.081700
9,(Coffee),(Cookies),0.478394,0.054411,0.028209,0.058966,1.083723,0.002179,1.004841,0.148110
14,(Coffee),(Pastry),0.478394,0.086107,0.047544,0.099382,1.154168,0.006351,1.014740,0.256084
15,(Pastry),(Coffee),0.086107,0.478394,0.047544,0.552147,1.154168,0.006351,1.164682,0.146161
16,(Bread),(Pastry),0.327205,0.086107,0.029160,0.089119,1.034977,0.000985,1.003306,0.050231
17,(Pastry),(Bread),0.086107,0.327205,0.029160,0.338650,1.034977,0.000985,1.017305,0.036980
24,(Coffee),(Medialuna),0.478394,0.061807,0.035182,0.073542,1.189878,0.005614,1.012667,0.305936
25,(Medialuna),(Coffee),0.061807,0.478394,0.035182,0.569231,1.189878,0.005614,1.210871,0.170091
28,(Coffee),(Tea),0.478394,0.142631,0.049868,0.104240,0.730840,-0.018366,0.957142,-0.413856
29,(Tea),(Coffee),0.142631,0.478394,0.049868,0.349630,0.730840,-0.018366,0.802014,-0.300482
30,(Bread),(Tea),0.327205,0.142631,0.028104,0.085890,0.602181,-0.018566,0.937927,-0.495438
31,(Tea),(Bread),0.142631,0.327205,0.028104,0.197037,0.602181,-0.018566,0.837890,-0.435198
36,(Coffee),(Cake),0.478394,0.103856,0.054728,0.114399,1.101515,0.005044,1.011905,0.176684
37,(Cake),(Coffee),0.103856,0.478394,0.054728,0.526958,1.101515,0.005044,1.102664,0.102840
58,(Coffee),(Sandwich),0.478394,0.071844,0.038246,0.079947,1.112792,0.003877,1.008807,0.194321
59,(Sandwich),(Coffee),0.071844,0.478394,0.038246,0.532353,1.112792,0.003877,1.115384,0.109205

In [48]:
# Print top 5 recommended items for "Bread" with support >= 0.025
top_recommendations_fp_025 = get_top_recommendations_fp(filtered_rules_fp, item_to_search_fp)
print(f"Top 5 recommendations for '{item_to_search_fp}' with support >= 0.025:")
top_recommendations_fp_025

Top 5 recommendations for 'Bread' with support >= 0.025:

['Coffee', 'Pastry', 'Tea']

### Task K: 8 points

Print Top 3 recommendations for below products using Apriori with 0.015 support
- Medialuna
- Sandwich
- Cake

In [49]:
# Products to search recommendations for
products = ["Medialuna", "Sandwich", "Cake"]

for product in products:
    top_recommendations = get_top_recommendations(rules, product)
    print(f"Top 3 recommendations for '{product}':")
    print(top_recommendations)
    print()

Top 3 recommendations for 'Medialuna':
['Coffee', 'Bread']

Top 3 recommendations for 'Sandwich':
['Tea', 'Coffee', 'Bread']

Top 3 recommendations for 'Cake':
['Coffee', 'Tea', 'Hot chocolate', 'Bread']

### Task L: 8 points

Print Top 3 recommendations for below products using FP-Growth algorithm with 0.015 support
- Hot Chocolate
- Muffin
- Pastry

In [50]:
# Products to search recommendations for
products = ["Hot Chocolate", "Muffin", "Pastry"]
filtered_rules_fpp = rules_fp[rules_fp['support'] >= 0.015]
for product in products:
    top_recommendations_fp = set(get_top_recommendations_fp(filtered_rules_fpp, product))
    print(f"Top 3 recommendations for '{product}':")
    print(list(top_recommendations_fp))
    print()

Top 3 recommendations for 'Hot Chocolate':
[]

Top 3 recommendations for 'Muffin':
['Coffee']

Top 3 recommendations for 'Pastry':
['Coffee', 'Bread']

### Task M: 20 points

Submit a document showing your solution for below problem.

For the data on apriori image in the folder, apply apriori algorithm by

- Computing the support for each individual item
- Use 7 as the minimum support.
- Generate Association Rules and compute confidence 
- use min confidence as 85%.

In [51]:
import pandas as pd
from collections import Counter

# Define the dataset
data = [
    ['beer', 'wine', 'cheese'],
    ['beer', 'potato chips'],
    ['eggs', 'flour', 'butter', 'cheese'],
    ['eggs', 'flour', 'butter', 'beer', 'potato chips'],
    ['wine', 'cheese'],
    ['potato chips'],
    ['eggs', 'flour', 'butter', 'wine', 'cheese'],
    ['eggs', 'flour', 'butter', 'beer', 'potato chips'],
    ['wine', 'beer'],
    ['beer', 'potato chips'],
    ['butter', 'eggs'],
    ['beer', 'potato chips'],
    ['flour', 'eggs'],
    ['beer', 'potato chips'],
    ['eggs', 'flour', 'butter', 'wine', 'cheese'],
    ['butter', 'wine', 'potato chips', 'cheese'],
    ['wine', 'cheese'],
    ['beer', 'potato chips'],
    ['wine', 'cheese'],
    ['beer', 'potato chips']
]

# Flatten the list of lists to get individual items
all_items = [item for sublist in data for item in sublist]

# Count the occurrences of each item
item_counts = Counter(all_items)

# Calculate support for each item
total_transactions = len(data)
item_support = {item: count / total_transactions for item, count in item_counts.items()}

# Create a DataFrame for the support values
support_df = pd.DataFrame.from_dict(item_support, orient='index', columns=['Support'])

# Sort the DataFrame by support in descending order
support_df = support_df.sort_values(by='Support', ascending=False)

print("Support for each individual item:")
print(support_df)

Support for each individual item:
              Support
beer             0.50
potato chips     0.50
wine             0.40
cheese           0.40
eggs             0.35
butter           0.35
flour            0.30

In [52]:
# Convert the dataset to a transaction format
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)

# Apply Apriori algorithm with minimum support of 7
frequent_itemsets = apriori(df, min_support=7/len(df), use_colnames=True)

# Generate Association Rules with minimum confidence of 85%
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.85)

# Print the Association Rules with confidence >= 85%
print("Association Rules with Confidence >= 85%:")
print(rules)

Association Rules with Confidence >= 85%:
  antecedents consequents  antecedent support  consequent support  support  \
0      (wine)    (cheese)                 0.4                 0.4     0.35
1    (cheese)      (wine)                 0.4                 0.4     0.35

   confidence    lift  leverage  conviction  zhangs_metric
0       0.875  2.1875      0.19         4.8       0.904762
1       0.875  2.1875      0.19         4.8       0.904762

In [53]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(wine),(cheese),0.4,0.4,0.35,0.875,2.1875,0.19,4.8,0.904762
1,(cheese),(wine),0.4,0.4,0.35,0.875,2.1875,0.19,4.8,0.904762

### Programming Assignment Details

1. If using any resource (books, internet), please make sure that you cite it within that cell.
2. Do not rename the dataset_files.

###  Submission details
Fill your name and ID in the jupyter notebook for each group member in the following format:

1. First Student Name and ID: ABC 1001XXXXXX
2. Second Student Name and ID: DEF 1002XXXXXX
3. Third Student Name and ID: GHI 1003XXXXXX

Name your submission files:

yourLastName_Last4digitsofyourID.ipynb

EG: abc_1234_def_5678_xyz3819_python.ipynb

### NOTE: Only one team member will submit the file.